#footer {
  background-color: #92cdf5;
}

#hasilJumlah {
  border: 1px solid;
  width: 300px;
  margin: 5px auto;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#hasilJumlah:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.border {
  border: 1px solid black;
  padding: 2px 5px;
  display: inline-block;
  margin: 5px 0;
}

.wkwk {
  z-index: 1;
}

#angota {
  padding-top: 180px;
  margin-bottom: 50px;
}
